.App-header {
    display: flex;
    flex-direction: row;
    width: 419px;
    height: 41px;
    margin: 0 auto;
    padding-top: 61px;
}

.header-info {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #242424;
    margin: 0 0 0 15px;
}

.header-logo {
    width: 173px;
    height: 40px;
}